<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>用户列表 - Powered By sqtang</title>
<meta name="author" content="sqtang" />
<meta name="copyright" content="sqtang" />
<link href="exten/admin/template/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="exten/admin/template/js/jquery.js"></script>
<script type="text/javascript" src="exten/admin/template/js/common.js"></script>
<script type="text/javascript" src="exten/admin/template/js/list.js"></script>
<script type="text/javascript">
$().ready(function() {
	var $delete = $("#listTable a.delete");// 删除
	$delete.click(function() {
		var $this = $(this);
		$.dialog({
			type: "warn",
			content: "您确定要删除吗？",
			onOk: function() {
				$.ajax({
					url: "?app=user&act=delUser",
					type: "POST",
					data: {uid: $this.attr("val")},
					dataType: "json",
					cache: false,
					success: function(message) {
						$.message(message);
						if (message.type == "success") {
							$this.closest("tr").remove();
						}
					}
				});
			}
		});
		return false;
	});


});
</script>
</head>
<body>
	<div class="path">
		用户管理 &raquo; 用户列表 <span>(共<span id="pageTotal"><%{$total_num}%></span>条记录)</span>
	</div>
	<form id="listForm" action="admin.php" method="get">
	<input type="hidden" name="app" value='user'/>
	<input type="hidden" name="act" value='getUserList'/>
		<div class="bar">
		    <%{if $hasEdit eq 1}%>
			<a href="?app=user&act=viewAddUser" class="iconButton">
				<span class="addIcon">&nbsp;</span>添加
			</a>
			<%{/if}%>
			<div class="buttonWrap">
				<%{if $hasDel eq 1}%>
				<a href="javascript:;" id="deleteButton" rel="?app=user&act=delUser" class="iconButton disabled">
					<span class="deleteIcon">&nbsp;</span>删除
				</a>
				<%{/if}%>
				<a href="javascript:;" id="refreshButton" class="iconButton">
					<span class="refreshIcon">&nbsp;</span>刷新
				</a>
				<div class="menuWrap">
					<a href="javascript:;" id="pageSizeSelect" class="button">
						每页显示<span class="arrow">&nbsp;</span>
					</a>
					<div class="popupMenu">
						<ul id="pageSizeOption">
							<%{foreach $pageArr as $key=>$val}%>
							<%{if $val eq $pageSize}%>
							<li>
								<a href="javascript:;" class="current" val="<%{$val}%>"><%{$val}%></a>
							</li>
							<%{else}%>
							<li>
								<a href="javascript:;"  val="<%{$val}%>"><%{$val}%></a>
							</li>
							<%{/if}%>
							<%{/foreach}%>
						</ul>
					</div>
				</div>
			</div>
			<div class="menuWrap">
				<div class="search">
					<span id="searchPropertySelect" class="arrow">&nbsp;</span>
					<input type="text" id="searchValue" name="searchValue" value="<%{$searchValue}%>" maxlength="200" />
					<button type="submit">&nbsp;</button>
				</div>
				<div class="popupMenu">
					<ul id="searchPropertyOption">
					    <%{foreach $searchType as $key=>$val}%>
						  <%{if $searchProperty eq $key}%>
						  <li><a href="javascript:;" class="current" val="<%{$key}%>"><%{$val}%></a></li>
						  <%{else}%>
						  <li><a href="javascript:;" val="<%{$key}%>"><%{$val}%></a></li>
						  <%{/if}%>
						<%{/foreach}%>
					</ul>
				</div>
			</div>
		</div>
		<table id="listTable" class="list">
			<tr>
				<th class="check">
					<input type="checkbox" id="selectAll" />
				</th>
				<th>
					<a href="javascript:;" class="sort" name="uname">用户名</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="uemail">E-mail</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="truename">姓名</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="last_login_time">最后登录日期</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="last_login_ip">最后登录IP</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="wether_to_enable">状态</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="create_time">创建日期</a>
				</th>
				<th>
					<span>操作</span>
				</th>
			</tr>
				<%{if $total_num eq 0}%>
			<tr><td colspan="9"><span>没有相关记录!</span></td></tr>
			<%{else}%>
			<%{foreach $userlist as $key=>$val}%>
				<tr>
					<td>
						<%{if $val.gid eq 1}%>
						<input type="checkbox" title="系统内置用户不能删除" disabled="disabled" name="ids[]" value="<%{$val.uid}%>" />
						<%{else}%>
						<input type="checkbox" name="ids[]" value="<%{$val.uid}%>" />
						<%{/if}%>
					</td>
					<td>
						<%{$val.uname}%>
					</td>
					<td>
						<%{$val.uemail}%>
					</td>
					<td>
						<%{$val.truename}%>
					</td>
					<td>
							<span title="<%{$val.last_login_time}%>"><%{$val.last_login_time}%></span>
					</td>
					<td>
						<%{$val.last_login_ip}%>
					</td>
					<td>
					<%{if $val.wether_to_enable}%>
						<span class="green">正常</span>
					<%{else}%>
						<span class="gray">禁用</span>
					<%{/if}%>
					</td>
					<td>
						<span title="<%{$val.create_time}%>"><%{$val.create_time}%></span>
					</td>
					<td>
					    <%{if $hasEdit eq 1}%>
						<a href="?app=user&act=viewEditUser&uid=<%{$val.uid}%>">[编辑]</a>
						<%{else}%>
						<span class="gray">[编辑]</span>
					   <%{/if}%> 

					   <%{if $val.gid eq 1}%>
					       <span class="gray">[删除]</span>
					   <%{else}%>
							<%{if $hasDel eq 1}%>
								<a href="javascript:;"  class="delete" val="<%{$val.uid}%>">[删除]</a>
							<%{else}%>
								<span class="gray">[删除]</span>
						    <%{/if}%> 
					   <%{/if}%>
						
					</td>
				</tr>
			<%{/foreach}%>
			<%{/if}%>
		</table>
<input type="hidden" id="pageSize" name="pageSize" value="<%{$pageSize}%>" />
<input type="hidden" id="searchProperty" name="searchProperty" value="<%{$searchProperty}%>" />
<input type="hidden" id="orderProperty" name="orderProperty" value="<%{$orderProperty}%>" />
<input type="hidden" id="orderDirection" name="orderDirection" value="<%{$orderDirection}%>" />
<%{$pageStr}%>
	</form>
</body>
</html>