<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>数据备份/还原列表 - Powered By SHOP++</title>
<meta name="author" content="SHOP++ Team" />
<meta name="copyright" content="SHOP++" />
<link href="exten/admin/template/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="exten/admin/template/js/jquery.js"></script>
<script type="text/javascript" src="exten/admin/template/js/common.js"></script>
<script type="text/javascript" src="exten/admin/template/js/list.js"></script>
<script type="text/javascript">
$().ready(function() {


});
</script>
</head>
<body>
	<div class="path">
		<a href="/admin/common/index.jhtml">首页</a> &raquo; 参数列表 <span>(共<span id="pageTotal">10</span>条记录)</span>
	</div>
	<form id="listForm" action="list.jhtml" method="get">
		<div class="bar">
			<a href="add.jhtml" class="iconButton">
				<span class="addIcon">&nbsp;</span>添加
			</a>
			<div class="buttonWrap">
				<a href="javascript:;" id="deleteButton" class="iconButton disabled">
					<span class="deleteIcon">&nbsp;</span>删除
				</a>
				<a href="javascript:;" id="refreshButton" class="iconButton">
					<span class="refreshIcon">&nbsp;</span>刷新
				</a>
				<div class="menuWrap">
					<a href="javascript:;" id="pageSizeSelect" class="button">
						每页显示<span class="arrow">&nbsp;</span>
					</a>
					<div class="popupMenu">
						<ul id="pageSizeOption">
							<li>
								<a href="javascript:;" val="10">10</a>
							</li>
							<li>
								<a href="javascript:;" class="current" val="20">20</a>
							</li>
							<li>
								<a href="javascript:;" val="50">50</a>
							</li>
							<li>
								<a href="javascript:;" val="100">100</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="menuWrap">
				<div class="search">
					<span id="searchPropertySelect" class="arrow">&nbsp;</span>
					<input type="text" id="searchValue" name="searchValue" value="" maxlength="200" />
					<button type="submit">&nbsp;</button>
				</div>
				<div class="popupMenu">
					<ul id="searchPropertyOption">
						<li>
							<a href="javascript:;" val="name">名称</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<table id="listTable" class="list">
			<tr>
				<th class="check">
					<input type="checkbox" id="selectAll" />
				</th>
				<th>
					<a href="javascript:;" class="sort" name="name">名称</a>
				</th>
				<th>
					<a href="javascript:;" class="sort" name="productCategory">绑定分类</a>
				</th>
				<th>
					<span>操作</span>
				</th>
			</tr>
				<tr>
					<td>
						<input type="checkbox" name="ids" value="3" />
					</td>
					<td>
						中国2011年城市排水和污水处理统计
					</td>
					<td>
						环境年鉴/2013
					</td>
					<td>
						<a href="showRecords.html">[备份]</a>
						<a href="addTable.html">[还原]</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="ids" value="4" />
					</td>
					<td>
						中国2011年城市液化石油气统计
					</td>
					<td>
						环境年鉴/2013
					</td>
					<td>
						<a href="showRecords.html">[备份]</a>
						<a href="addTable.html">[还原]</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="ids" value="5" />
					</td>
					<td>
						中国环境年鉴2012  环境统计表部分
					</td>
					<td>
						环境年鉴/2013
					</td>
					<td>
						<a href="showRecords.html">[备份]</a>
						<a href="addTable.html">[还原]</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="ids" value="6" />
					</td>
					<td>
						中国历年城市排水和污水处理情况统计(1978-2011)
					</td>
					<td>
						环境年鉴/2013
					</td>
					<td>
						<a href="showRecords.html">[备份]</a>
						<a href="addTable.html">[还原]</a>
					</td>
				</tr>
				
		</table>
<input type="hidden" id="pageSize" name="pageSize" value="20" />
<input type="hidden" id="searchProperty" name="searchProperty" value="" />
<input type="hidden" id="orderProperty" name="orderProperty" value="" />
<input type="hidden" id="orderDirection" name="orderDirection" value="" />
	</form>
</body>
</html>