<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%{$_Title}%></title>
<link href="exten/admin/template/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="exten/admin/template/js/jquery.js"></script>
<script type="text/javascript" src="exten/admin/template/js/jquery.tools.js"></script>
<script type="text/javascript" src="exten/admin/template/js/jquery.validate.js"></script>
<script type="text/javascript" src="exten/admin/template/js/common2.js"></script>
<script type="text/javascript" src="exten/admin/template/js/input.js"></script>
<script type="text/javascript">
$().ready(function() {

	var $inputForm = $("#inputForm");
	var $browserButton = $("#browserButton");
	
	$browserButton.browser();
	
	// 表单验证
	$inputForm.validate({
		rules: {
			restoreFile: "required",
		}
	});
	
});
</script>
</head>
<body>
	<div class="path">
		<%{$_Rank}%>
	</div>
	<form id="inputForm" action="admin.php?app=materialTable&act=selectExcelData" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="<%{$tableID}%>" />
		<table class="input tabContent">
			<tr>
				<td colspan="2" style="height:70px">
					<ul style="float:right">
						<li style="width:30px; float:left; height:35px; font-size:14px; color:white; text-align:center; font-weight:bold; background-image:url(exten/admin/template/images/pubflow_on.gif)">1</li>
						<li style="float:left; padding-left:15px; font-size:14px; color:#4484DB; line-height:28px">选择Excel文件</li>
						<li style="width:11px; height:21px; float:left; margin:5px 20px 0px 20px; background-image:url(exten/admin/template/images/pub_arrow.gif)"></li>
						<li style="width:30px; float:left; height:35px; font-size:14px; color:white; text-align:center; font-weight:bold; background-image:url(exten/admin/template/images/pubflow_off.gif)">2</li>
						<li style="float:left; padding-left:15px; font-size:14px; color:#BCBCBC; line-height:28px">选择非标题数据</li>
						<li style="width:11px; height:21px; float:left; margin:5px 20px 0px 20px; background-image:url(exten/admin/template/images/pub_arrow.gif)"></li>
						<li style="width:30px; float:left; height:35px; font-size:14px; color:white; text-align:center; font-weight:bold; background-image:url(exten/admin/template/images/pubflow_off.gif)">3</li>
						<li style="float:left; padding-left:15px; font-size:14px; color:#BCBCBC; line-height:28px">点击确定，导入成功</li>
					</ul>
				</td>
			</tr>
			<tr>
				<th>
					原料表:
				</th>
				<td>
					<span class="fieldSet">
						<%{$tableComment}%>（<%{$tableName}%>）
					</span>
				</td>
			</tr>
			<tr>
				<th>
					原料表分类:
				</th>
				<td>
					<span class="fieldSet">
						<%{$tableClassName}%>
					</span>
				</td>
			</tr>
			<tr>
				<th>
					选择excel文件:
				</th>
				<td>
					<span class="fieldSet">
						<input type="text" name="importFile" class="text" maxlength="200" title="非专业人员不要使用本地上传，还原操作之前最好先备份！" />
						<input type="button" id="browserButton" class="button" value="选择文件" />
					</span>
				</td>
			</tr>
		</table>
		
		<table class="input">
			</tr>
				<tr>
					<th>
						&nbsp;
					</th>
					<td>
						
					</td>
			</tr>
			</tr>
				<tr>
					<th>
						&nbsp;
					</th>
					<td>
						<div class="tips">
						提示：<br />
						请按如下提示导入数据，否则数据图形展示功能将不正常。<br />
						1 月度数据第一列数据格式 如201301（表示2013年1月份）,201302,201303,...<br />
						2 季度数据第一列数据格式 如20131（表示2013年第一季度）,20132,20133,20134<br />
						3 年度数据第一列数据格式 如2013<br />
						4 地区数据第一列数据格式 如省份或城市名
						</div>
					</td>
			</tr>
			<tr>
				<th>
					&nbsp;
				</th>
				<td>
					<input type="submit" class="button" value="下一步" />
					<input type="button" class="button" value="返&nbsp;&nbsp;回" onclick="location.href='admin.php?app=materialTable&act=getTablesList'" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>