@charset "utf-8";
/* CSS Document */

/*ul{background:#ffffff}*/
ul,li{margin:0px;padding:0px; list-style:none;}
/*li{margin-left:10px;}*/

#vice_header{height:40px;}
#treecontent{position:absolute;z-index:1000;float:left;margin:3px;width:750px;height:29px;line-height:22px;overflow:hidden;}
#showselect{height:30px;line-height:30px;padding:0px 5px;font-weight:bold;}
/*#btn_link{float:right;}
#btn_link a{display:inline-block;margin:3px;border:1px solid #CCC;padding:0px 3px;height:22px; line-height:22px}*/
#btn_link{float:right;line-height:30px;}
#btn_link a{display:inline-block;text-align:center;margin-top:1px;}
#devList{border:1px solid #CCC;margin:20px auto;min-height:300px;height:300px;height:auto}
#devList ul{padding:5px;}
#devMap{margin-top:10px;}