@charset "utf-8";
/* CSS Document 
 * 新建应用管理者样式
 */

.msgtd{
	color:#ff0000;
	width:220px;
}
/*新增用户*/
#userDataMsg{width:300px;text-align:left;margin:0 auto;}
#userDataMsg p{margin-top:3px;}
.formtype{width:101px;}