<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>原料中心</title>
<link href="exten/default/template/css/base.css" rel="stylesheet" type="text/css" /> 
<link href="exten/default/template/css/comm.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="exten/default/template/js/jquery.js"></script>
<script type="text/javascript" src="exten/admin/template/js/list.js"></script>
<script type="text/javascript">
$().ready(function() {
	
	//分类弹出层
	$("div.g-main-nav ul li").mouseover( function() {
		var $popupMenu = $(this).children("dl");
		$popupMenu.show();
		$(this).css("background-color", "#F9F9F9");
		$(this).mouseleave(function() {
			$popupMenu.hide();
		});
	});
});
</script>
</head>

<body>

<%{include file='_main/header.tpl.htm'}%>

<div class="main-wraper">
	<div class="main">
		<div class="container">
			<div class="search-tip">
			<%{if $type eq 0}%>
				共有<%{$tableCount}%>个表有关于“<span class="highlight"><%{$keywords}%></span>”的信息
			<%{else}%>
				<span style="color:#ff3300;"><%{$currentTable.tableinfo.tname}%></span>&nbsp;表中共有<%{$recordCount}%>个关于“<span class="highlight"><%{$keywords}%></span>”的结果
			<%{/if}%>
			
			</div>
			<div class="search-container">
			<table width="978" style="line-height:25px;">
				<%{if $type eq 0}%>
					<tr><!--<th>表id</th>--><th>指标</th><th>关联字段</th><th>创建日期</th><th>所属栏目</th></tr>
					<%{foreach $tablelist as $val}%>
					<tr>
					<!--<td><%{$val.tid}%></td>-->
					<td><a href="index.php?app=search&keywords=<%{$keyword}%>&type=1&tid=<%{$val.tid}%>"><%{$val.tableinfo.tname}%></a></td>
					<td><%{$val.fcomment}%></td>
					<td><%{$val.tableinfo.t_time}%></td>
					<td><%{$val.classname}%></td>
					</tr>
					<%{/foreach}%>
				<%{else}%>
				<tr>
				<%{foreach $filedArr as $val}%>
					<th><%{$val}%></th>
				<%{/foreach}%>
					<th>所属表</th><th>所属栏目</th>
				</tr>
				<form id="listForm" action="index.php" method="get">
				<input type="hidden" name="app" value='search'/>
				<input type="hidden" name="act" value='index'/>
				<%{foreach $recordList as $val}%>
				<tr>
					<%{foreach $val as $key=>$item}%>
						<td><%{$item}%></td>
					<%{/foreach}%>
					<td><%{$currentTable.tableinfo.tname}%></td>
					<td><%{$currentTable.classname}%></td>
				</tr>
				<%{/foreach}%>
				
				<%{/if}%>
			</table>
			       <%{if $type eq 1}%>
					<input type="hidden" id="pageSize" name="pageSize" value="<%{$pageSize}%>" />
					<input type="hidden" name="keywords" value="<%{$keywords}%>" />
					<input type="hidden" name="tid" value="<%{$currentTable.tableinfo.tid}%>" />
					<input type="hidden" name="type" value="<%{$type}%>" />
					<%{$pageStr}%>
					</form>
					<%{/if}%>
		
				<!--<dl>
					<dt>
						<span class="sear-tip">指标</span>
						<span class="sear-addr">地区</span>
						<span class="sear-time">数据时间</span>
						<span class="sear-data">数值</span>
						<span class="sear-class">所属栏目</span>
						<span class="sear-baobiao">相关报表</span>
					</dt>
					<dd>
						<span class="sear-tip">指标</span>
						<span class="sear-addr">地区</span>
						<span class="sear-time">数据时间</span>
						<span class="sear-data">数值</span>
						<span class="sear-class">所属栏目</span>
						<span class="sear-baobiao"><a href="#">相关报表</a></span>
					</dd>
					
					<dd class="search-pager">
						<ul>
							<li>
							<span class="select">首页</span>
							</li>
							<li>
							<span class="select">上页 </span>
							</li>
							<li class="select">
							<span>1</span>
							</li>
							<li>
							<a class="" href="/devices?page=2">2</a>
							</li>
							<li>
							<a class="" href="/devices?page=3">3</a>
							</li>
							<li>
							<a class="" href="/devices?page=4">4</a>
							</li>
							<li>
							<a class="" href="/devices?page=5">5</a>
							</li>
							<li>
							<a class="" href="/devices?page=6">6</a>
							</li>
							<li>
							<a class="" href="/devices?page=7">7</a>
							</li>
							<li>
							<a class="" href="/devices?page=8">8</a>
							</li>
							<li>
							<a class="" href="/devices?page=9">9</a>
							</li>
							<li>
							<a class="" href="/devices?page=10">10</a>
							</li>
							<li>
							<a class="" href="/devices?page=2">下页</a>
							</li>
							<li>
							<a class="" href="/devices?page=312">尾页</a>
							</li>
						</ul>
					</dd>
				</dl>-->
				
			</div>
	</div>
</div>

<%{include file='_main/footer.tpl.htm'}%>

</body>
</html>