<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>编辑角色 - 原料数据中心</title>
<meta name="author" content="SHOP++ Team" />
<meta name="copyright" content="SHOP++" />
<link href="exten/admin/template/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="exten/admin/template/js/jquery.js"></script>
<script type="text/javascript" src="exten/admin/template/js/jquery.tools.js"></script>
<script type="text/javascript" src="exten/admin/template/js/jquery.validate.js"></script>
<script type="text/javascript" src="exten/admin/template/js/common.js"></script>
<script type="text/javascript" src="exten/admin/template/js/input.js"></script>
<style type="text/css">
.authorities label {
	min-width: 120px;
	_width: 120px;
	display: block;
	float: left;
	padding-right: 4px;
	_white-space: nowrap;
}
</style>
<script type="text/javascript">
$().ready(function() {

	var $inputForm = $("#inputForm");
	var $selectAll = $("#inputForm .selectAll");
	var $act       = $('.acts');
	var $module    = $('.module');
	
	//如果模块取消，下面的操作权限也取消
	$module.click(function(){
		var name = $(this).attr("name");
		if($(this).prop("checked") == false){
			$("input[pid='" +name + "']").prop("checked", false);
		}
	});

	//如果操作权限选中，则模块权限自动选中
	$act.click(function(){
		var parentNode = $(this).attr("pid");
		if($(this).prop("checked") == true){
			$("input[name='" +parentNode + "']").prop("checked", true);
		}
	});
	
	
	$selectAll.click(function() {
		var $this = $(this);
		var $thisCheckbox = $this.closest("tr").find(":checkbox");
		if ($thisCheckbox.filter(":checked").size() > 0) {
			$thisCheckbox.prop("checked", false);
		} else {
			$thisCheckbox.prop("checked", true);
		}
		return false;
	});
	
	// 表单验证
	$inputForm.validate({
		rules: {
			name: "required",
			authorities: "required"
		}
	});
	
});
</script>
</head>
<body>
	<div class="path">
		用户 &raquo; 角色管理
	</div>
	
	<form id="inputForm" action="?app=role&act=editRole" method="post">
		<ul id="tab" class="tab">
			<li>
				<input type="button" value="基本" />
			</li>
			<li>
				<input type="button" value="显示" />
			</li>
			<li>
				<input type="button" value="操作" />
			</li>
		</ul>
		<table class="input tabContent">
			<tr>
				<th>
					<span class="requiredField">*</span>名称:
				</th>
				<td>
					<input type="text" name="name" class="text" maxlength="200" value="<%{$groupinfo.gname}%>" />
					<input type="hidden" name="gid"  value="<%{$groupinfo.gid}%>" />
				</td>
			</tr>
			<tr>
				<th>
					描述:
				</th>
				<td>
					<input type="text" name="description" class="text" maxlength="200" value="<%{$groupinfo.gdescription}%>" />
				</td>
			</tr>
		</table>

		<table class="input tabContent">
			<%{foreach $modulelist as $key => $val}%>
			<tr class="authorities">
				<th>
					<a href="javascript:;" class="selectAll" title="全选此组权限"><%{$val.id}%></a>
				</th>
				<td>
					<span class="fieldSet">
						<%{foreach $val.modules as $item}%>
						<label>
							<%{if $groupinfo.is_buildin eq 1}%>
							<input type="checkbox" checked="checked" disabled="disabled" name="authorities[<%{$key}%>][<%{$item.id}%>]" value="1" /><%{$item.name}%>
							<%{elseif $item.status eq 1}%>
							<input type="checkbox" checked="checked" class="module" name="authorities[<%{$key}%>][<%{$item.id}%>]" value="1" /><%{$item.name}%>
							<%{else}%>
							<input type="checkbox" class="module" name="authorities[<%{$key}%>][<%{$item.id}%>]" value="1" /><%{$item.name}%>
							<%{/if}%>

						</label>
						<%{/foreach}%>
					</span>
				</td>
			</tr>
			<%{/foreach}%>
		</table>

		<table class="input tabContent">
			<%{foreach $aclList as $key => $val}%>
			<tr class="authorities">
				<th>
					<a href="javascript:;" class="selectAll" title="全选此组权限"><%{$val.name}%></a>
				</th>
				<td>
					<span class="fieldSet">
						<%{foreach $val.operates as $act}%>
							<label>
							<%{if $groupinfo.is_buildin eq 1}%>
								<input type="checkbox" checked="checked" disabled="disabled" name="authorities[<%{$val.pid}%>][<%{$key}%>][<%{$act.type}%>]" value="1" /><%{$act.name}%>
							<%{elseif $act.status eq 1}%>
								<input type="checkbox"  checked="checked"  pid="authorities[<%{$val.pid}%>][<%{$key}%>]" class="acts" 
								 name="authorities[<%{$val.pid}%>][<%{$key}%>][<%{$act.type}%>]" value="1" /><%{$act.name}%>
							<%{else}%>
								<input type="checkbox"  pid="authorities[<%{$val.pid}%>][<%{$key}%>]" class="acts" 
								name="authorities[<%{$val.pid}%>][<%{$key}%>][<%{$act.type}%>]" value="1" /><%{$act.name}%>
							<%{/if}%>
							</label>
						<%{/foreach}%>
					</span>
				</td>
			</tr>
			<%{/foreach}%>
		</table>

		<table class="input">
			<tr>
				<th>
					&nbsp;
				</th>
				<td>
					<input type="submit" class="button" value="提&nbsp;&nbsp;交" />
					<input type="button" class="button" value="返&nbsp;&nbsp;回" onclick="history.go(-1)" />
				</td>
			</tr>
		</table>
	</form>
	
	
	
	
</body>
</html>